<div *ngIf="errorMsg" class="alert alert-danger">
  <h1>{{ "ERROR_MSG" | translate }}</h1>
  <p>{{ errorMsg }}</p>
</div>
<div class="flex flex-center">
  <mat-progress-spinner
    *ngIf="showSpinner"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
<div class="tasks-page-header">
  <h1>{{ "MYTASKS" | translate }}</h1>
  <button mat-button routerLink="events/addEvent">
    <mat-icon>add</mat-icon><span> {{ "ADD_NEW_EVENT" | translate }}</span>
  </button>
</div>

<ng-container *ngIf="events">
  <div class="row">
    <div *ngFor="let event of events" class="col-md-4">
      <div class="event-title">
        <h2>{{ event?.name }}</h2>
        <img
          src="../../assets/images/Icon feather-edit.png"
          (click)="editEvent(event)"
          [matTooltip]="'EDIT_TASK' | translate"
          alt="edit"
        />
      </div>
      <p class="tasks">{{ "Tasks" | translate }}</p>
      <div class="task-content" *ngFor="let task of event.tasks">
        <mat-card
          [ngClass]="{
            'high-priority': task.priority === 'high',
            'medium-priority': task.priority === 'medium',
            'low-priority': task.priority === 'low'
          }"
        >
          <mat-card-title>{{ task.name }}</mat-card-title>
          <mat-card-content>
            <p>
              {{ "START_DATE" | translate }}:
              {{ task.startDate | date: "dd MMM, h:mm a" }}
            </p>
            <p>
              {{ "END_DATE" | translate }}:
              {{ task.endDate | date: "dd MMM, h:mm a" }}
            </p>
            <p>
              {{ "PRIORITY" | translate }}:
              <span
                [ngClass]="{
                  'high-priority': task.priority === 'high',
                  'medium-priority': task.priority === 'medium',
                  'low-priority': task.priority === 'low'
                }"
                >{{ task.priority }}
              </span>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
